if BOARD_XIAO_KB

config ZMK_KEYBOARD_NAME
    default "XIAO KB"

config BUILD_OUTPUT_UF2
    default y

config USE_DT_CODE_PARTITION
    default y

config SYSTEM_CLOCK_SLOPPY_IDLE
    default y

config WATCHDOG
    default y

config WDT_DISABLE_AT_BOOT
    default n

config WDT_NRFX
    default y

config HWINFO
    default y

endif